<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AFAProjectFile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.afa.authorization.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.afa.authorization.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ForUpdatingDetail</servlet-name>
  	<servlet-class>com.afa.crud.UpdateFileDetail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ForUpdatingDetail</servlet-name>
  	<url-pattern>/updatedetails</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ForDeletingFile</servlet-name>
  	<servlet-class>com.afa.crud.DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ForDeletingFile</servlet-name>
  	<url-pattern>/deletefile</url-pattern>
  </servlet-mapping>
</web-app>